
button {
    background-color: #222222;
    border: none;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    border-radius: 10px;
    margin: 0px 10px;
  }
  
  button:hover {
    background-color: #559955;
  }
  
  button:active {
    background-color: #55aa55;
  }
  #pravilniP {
    font-weight: bold;
    color:#79fc84;
  }
  #napacniP {
    font-weight: bold;
    color:#fc7979;
  }
  #odgovor {
    font-size: larger;
  }
  #mejnaMagnituda {
    border-radius: 10px;
    padding: 7px;
    border: none;
    font-size: 17px;
    width: 50px;
  }
  #igraInput {
    border-radius: 7px;
    padding: 7px;
    border: none;
    font-size: 17px;
  }